body {
  overflow-x: hidden;
  background-color: white;
}
.home, .active{
  text-shadow: 0 0 0.1em #0DF205;
  color:#04ADBF;
  font-size: 20px;
  text-align: left;
}
.navbar {
  top: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 13pt;
}
.select {
  font-size: 20px; 
  border: none;
  border-radius: 5px;
  text-shadow: 0 0 0.1em #0DF205;
  color:#04ADBF;
  text-align: center;
  width: 14%;
  outline-style: none;
}
.search-bar {
  float: right;
  margin: 10px 25px 10px;
}
.search {
  border: none;
  border-bottom: 1.5px solid #0DF205;
  width: 200px;
  outline: none;
  margin: 15px;
}
.search::placeholder {
  color: #04ADBF;
  font-size: 15px;
}
.abstract {
  font-size: 14pt;
  margin: 170px;
  line-height: 35px;
  padding: 8px;
  padding-left: 35px;
  padding-right: 35px;
  display: block;
}
img {
  width: 150px;
  height: 150px;
  background-color: #D4D952;
  padding: 3px;
  border-radius: 20px;
}
main{
  width: 100%;
}
.root div{ /*mudança nesta class para ajustar o tamanho dos cards e alinhá-los na paginação*/
  border-radius: 10px;
  background-color: #56BF5D;
  margin: 20px;
  padding: 30px;
  display: inline-block;
  flex-wrap: wrap;
  flex: 1 1 150px;  
  width: 14%;
  text-align-last: center;
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
}
.paragrafo {
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #CCC;
}
.paragrafo-nome {
  font-size: 18px;
}
.btn {
  font-size: 20px;
  text-decoration: none;
}
#btn-next {
  position: absolute;
  right: 15%;
}
#btn-prev {
  position: absolute;
  left: 15%;
}
#button { /*id criada para sumir os botões da paginação prev e next*/
  visibility: hidden;
}
.social-media {
  display: block;
  text-align: center; 
  padding:15px;
  padding-left:15px;
  padding-right:15px;
  padding-top:15px;
  margin: 450px;
}
.media {
  border: 2px solid transparent;
  display: inline-block;
  width: 35px;
}
.follow {
  font-size: 18px;
  text-align: center;
  padding-left: 5px;
}
.social-media, .footer, .abstract, .select, .navbar, .btn, .dev, #root div, .active, .search::placeholder {
  font-family: 'Oswald', sans-serif;
}
.abstract, .footer, .social-media,  .follow, .dev {
  color: #04ADBF;
}
.abstract a, .active{
  color: inherit;
  text-decoration: none;
}
.abstract, .social-media {
  border-radius: 10px;
}
.btn, .fa {
    color:#0DF205;
  }
  ::-webkit-scrollbar-track {
    background-color: #04ADBF;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #0DF205
  }