body {
  /*background-image: url('rick&morty.jpeg');
  background-repeat: no-repeat fixed;
  background-size: cover;
  overflow-x: hidden;tira a barra horizontal de rolagem
  margin: 0;*/
  overflow-x: hidden;/*tira a barra horizontal de rolagem*/
  background-color: rgb( 3, 62, 71) ;
}

.home {
  top: 100%;
  font: 'Rock Salt', cursive;
  font-size: 18px;
  border: none;
  padding: 14px 16px;
  background-color:rgb(4, 173, 191);
  cursor: pointer;
}

.navbar {
  top: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 13pt;
}

/*.menu {
  float: left;
  overflow: hidden;
}*/

.select {
  font-size: 14px;
  border: none;
  /*outline: none;*/
  padding: 14px 16px;
  background-color:rgb(4, 173, 191);
  cursor: pointer;
}

.search-bar {
  float: right;
  margin: 10px 25px 10px;
}

.search {
  border: none;
  border-bottom: 1.5px solid rgb(4, 173, 191);
  width: 200px;
  outline: none;
  cursor: pointer;
}

.search::placeholder {
  color: rgb(187, 178, 178);
  font-size: 14px;
}

.abstract {
  font-size: 14pt;
  border-radius: 3px;
  background-color: rgba(132, 147, 191);
  margin: 170px;
  padding: 8px;
  line-height: 35px;
  padding-left: 35px;
  padding-right: 35px;
}

footer {
  font-size: 13pt;
  color: rgb(187, 178, 178);
}

.social-media {
  font-size: 20px;
  cursor: pointer;
  
  
  /*border: 1px solid rgb(201, 236, 129);
  padding: 2px;*/
}

.social-media, .footer, .abstract, .select, .navbar, .btn, .dev, .search::placeholder {
  font-family: 'Rock Salt', cursive;
}

.select,.search, .social-media {
  color: black;
}

.navbar, .enter, .search {
  background-color: transparent;
}
.btn, .abstract a{
color: inherit;
}

.media {
  border: 2px solid transparent;
  display: inline-block;
  width: 35px;
}

.fa {
  color: rgb(4, 173, 191);
  size: 10px;
}

.follow {
  font-size: 25px;
  text-align: left;
  padding-left: 5px;
}

  img {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-color: rgb(4, 173, 191);
  margin: 10px;
  padding: 10px;
  overflow: hidden;
  border-radius: 20px;
}
.btn{
  width:35px;
  font-size: 20px;
  color: rgb(187, 178, 178);
}
#btn-next{
  position: absolute;
  right: 15%;
}
#btn-prev{
  position: absolute;
  left: 15%;
}

::-webkit-scrollbar-track {
  background-color: #033E47;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(4, 173, 191);
}

@media screen and (max-width:800px) {
  .select {
    padding: 2px 1px;
    position: relative;
  }
  .search {
    width: 150px;
    top: 50px;
    left: 90px;
  }
  .abstract {
    margin: 20px;
    padding: 20px;
  }
  .navbar {
    display: flex;
    height: 60px;
  }
  .navbar, .search, .enter {
    background-color: transparent;
  }
}
