body {
  overflow-x: hidden;
  background-color: white
}

.navbar {
  top: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 13pt;
}
.select option{
  color:#04ADBF;
}
.select {
  font-size: 18px; 
  border: none;
  border-radius: 5px;
  padding: 14px 16px;
  text-shadow: 0 0 0.2em #0DF205;
  color:#04ADBF;
  font-family:'Oswald', sans-serif;
  text-align: center;
}

.search-bar {
  float: right;
  margin: 10px 25px 10px;
}

.search {
  border: none;
  border-bottom: 1.5px solid #0DF205;
  width: 200px;
  outline: none;
  margin: 15px;
}

.search::placeholder {
  color: #04ADBF ;
  font-size: 15px;
}

.abstract {
  font-size: 14pt;
  margin: 170px;
  line-height: 35px;
  padding: 8px;
  padding-left: 35px;
  padding-right: 35px;
}

footer {
  font-size: 13pt;
}

.social-media {
  display: block;
  text-align: center; 
  padding:15px;
  padding-left:15px;
  padding-right:15px;
  padding-top:15px;
  margin: 450px;
}

.social-media, .footer, .abstract, .select, .navbar, .btn, .dev, .search::placeholder {
  font-family: 'Oswald', sans-serif;
}
.fa{
  color:#0DF205;
}
.abstract, .footer, .social-media,  .follow, .dev {
  color: #04ADBF;
}

.navbar, .enter, .search {
  background-color: transparent;
}
.btn, .abstract a{
color: inherit;
}
.abstract, .social-media {
  border-radius: 10px;
}

.media {
  border: 2px solid transparent;
  display: inline-block;
  width: 35px;
}

.follow {
  font-size: 20px;
  text-align: center;
  padding-left: 5px;
}

  img {
  width: 150px;
  height: 150px;
  background-color: #D4D952;
  padding: 3px;
  border-radius: 20px;
}

#root div{
  border-radius: 10px;
  background-color: #56BF5D;
  margin: 20px;
  padding: 30px;
  display: inline-block;
  flex-wrap: wrap;
  flex: 1 1 150px;
  max-width: 150px;
  text-align: center;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

.btn{
  font-size: 20px;
  text-decoration: none;
  color: #56BF5D;
}

#btn-next{
  position: absolute;
  right: 15%;
}

#btn-prev{
  position: absolute;
  left: 15%;
}

::-webkit-scrollbar-track {
  background-color: #04ADBF;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0DF205;
}

@media screen and (max-width: 800px) {
  .search {
    width: 150px;
    top: 50px;
    left: 90px;
  }
  .abstract {
    margin: 20px;
    padding: 20px;
  }
  
  .social-media{
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin: 100px;
    display: block;
  }
  img{
    margin: 5px;
  }
  
  .navbar {
    display: block; 
  }
  .select{
    margin: 5px;
    display: flex;
    width: 40%;
  }
}
